body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e8ecf1;
}
.container{
    
    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        height: 340px;
        gap: 20px;
        
        
        input{
            border: 1px solid #ccc;
            width: 350px;
            height: 40px;
            
            border-radius: 8px;
            padding-left: 15px;
            font-size: 17px;
            margin-right: 30px;
            
        }
        select{
        border: 1px solid #ccc;

        border-radius: 8px;
        padding-left: 15px;
        font-size: 17px;
        height: 40px;  
        width: 350px;
        }
    textarea{
        border: 1px solid #ccc;

        border-radius: 8px;
        padding-left: 15px;
        font-size: 17px;
        
    }
    .btn{

        height: 40px ;
        width: 250px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        background-color: rgb(174, 5, 5);
        border: none;
        border-radius: 8px;
    }
    }
}
